body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
h1 {
  text-align: center;
  margin: 40px 0;
}

.formContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  .keyword {
    display: flex;
    flex-direction: column;
    input {
      font-size: 16px;
      width: 200px;
      height: 30px;
    }
  }

  .release {
    display: flex;
    flex-direction: column;
    select {
      font-size: 16px;
      width: 200px;
      height: 30px;
    }
  }
  .btn {
    padding: 5px 10px;
    border-radius: 8px;
    background: lightgreen;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
.cardGrid {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 20px;
  .card {
    width: 200px;
    border: 1px solid #ccc;
    text-align: left;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 5px 10px 0px rgba(67, 67, 67, 0.35);
    .info {
      padding: 10px 5px;
      > h3 {
        font-size: 16px;
      }
      > p {
        font-size: 14px;
        color: gray;
      }
      .genre {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        > span {
          font-size: 12px;
          padding: 4px;
          border-radius: 5px;
          background: lightblue;
          color: darkslateblue;
        }
      }
    }
  }
}

.loading,
.error,
.no,
.results {
  text-align: center;
}
.andMore {
  display: flex;
  margin: 0 auto 40px;
  justify-content: center;
  padding: 10px 20px;
  background: gray;
  color: #fff;
  border: none;
  cursor: pointer;
}
